/**
 * Make sure all elements have easy-to-reason-with widths and heights.
 */

* {
  box-sizing: border-box;
}

/**
 * 1. Kill the default thin margin around the page. Violates BEM but we
 *    have no choice.
 */

.page {
  font: 14px 'Roboto', sans-serif;
  margin: 0; /* 1 */
}

/**
 * 1. Set up the row so it has gutters at least 1.1429em wide. The center
 *    column will take up the most space until it's around 70em wide. After
 *    that point the gutters will expand to take the remaining space.
 * 2. Name the grid areas for convenience.
 * 3. Top and bottom padding for the row. Not grid rows as that might mess
 *    up the layout when the row has more than one elements in it.
 */
.row {
  display: grid;
  grid-template-areas: "left-gutter content right-gutter"; /* 2 */
  grid-template-columns: minmax(1.1429em, 1fr) minmax(0, 69.8571em) minmax(1.1429em, 1fr); /* 1 */
  padding-bottom: 5.7143em;
  padding-top: 5.7143em;
}

/**
 * 1. Set a uniform semitransparent gradient on top of the usual background
 *    image, giving it a slightly dimmed effect. Note that this will break
 *    on browsers that don't support linear-gradient.
 * 2. Center the background and size it just enough.
 * 3. Make sure the text is visible.
 */

.row_background_road-night {
  background-image:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('../images/road-night.jpg'); /* 1 */
  background-position: center; /* 2 */
  background-repeat: no-repeat;
  background-size: cover; /* 2 */
  color: #fff; /* 3 */
}

/**
 * Place the row content at the center.
 */

.row__content {
  grid-area: content;
}

/**
 * 1. Set standard heading size and style.
 * 2. Remove top margin. Again a BEM violation, but it makes things easier
 *    to reason about. I might do the same for paragraphs.
 */

.heading {
  font: italic 1.5714em serif;
  margin-top: 0;
}
